
# prod DB 설정 (AWS 환경변수로 관리)
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}


spring.jwt.private-key=${JWT_PRIVATE_KEY}
spring.jwt.public-key=${JWT_PUBLIC_KEY}

# SQL 로그 활성화 -> 개발용(바꿀 예정입니다.)
spring.jpa.show-sql=false

# Swagger 비활성화
springdoc.swagger-ui.enabled=false